header{ 
    display: flex;
    justify-content: end;
    padding: 10px;
    background-color: rgb(6, 6, 102);    
    color: beige;
    font-size:60px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

.container {
    display:inline-block;
    justify-content: flex-start;
    align-items:flex-start;
}

.btn{  
    
    background-color: white;
    color: black;
    border: 2px solid rgb(6, 6, 102);}
    
    
.hero{
    display: flex;
    align-content: flex-start;
}